@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

body {
  width: 100%;
  padding: 0;
}

.container {
  margin: 0;
  width: 100%;
}

.header {
  background-color: black;
  color: white;
}

.app-title {
  text-align: center;
}

.nav {
  margin-bottom: 0;
}
