@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

body {
  width: 100%;
  padding: 0;
}

.container {
  width: 100%;
}

.header {
  background-color: black;
  color: white;
  height: 20px;
  width:100%;
  text-align: center;
}

.app-title {
  text-align: center;
  display: inline-block;
}

.nav {
  margin-bottom: 0;
}
