.hero-unit
  %h1 'Allo, 'Allo!
  %p You now have
  %ul
    %li(ng-repeat="thing in awesomeThings")
  %p installed.
  %h3 Enjoy coding! - Yeoman Enjoy coding! - Yeoman Enjoy coding! - Yeoman Enjoy coding! - Yeoman
